In [1]:
from datetime import datetime
def getTimeDifference(postCreationDate, linkCreationDate):
    fmt = '%Y-%m-%d %H:%M:%S'
    tstamp1 = datetime.strptime(postCreationDate, fmt)
    tstamp2 = datetime.strptime(linkCreationDate, fmt)
    if tstamp1 > tstamp2:
        td = tstamp1 - tstamp2
    else:
        td = tstamp2 - tstamp1
    td_mins = int(round(td.total_seconds() / 60))
    return td_mins

In [2]:
import re
from urlextract import URLExtract
import pandas as pd
import numpy as np

postLinks = pd.read_csv("../example/PostLinks.csv")
df = pd.DataFrame()
posts = pd.read_csv("../example/Posts.csv")
print("posts before:" + str(len(posts)))
posts.dropna()
posts = posts[(posts['CreationDate'] > '2018-01-01') & (posts['CreationDate'] < '2018-01-31') & (posts['Tags'].str.contains("python"))]
print("posts after:" + str(len(posts)))

linkList = []
titleList = []
postCreationList = []
linkCreationList = []
timeDiffList = []
realtedPostID = []
realtedPostIDTitle = []
for i in posts.index:
    postId = posts['Id'][i]
    postCreationDate = posts['CreationDate'][i].replace("T", " ").split(".")[0]
    postLinksFiltered = postLinks[postLinks["PostId"] == postId]
    for j in postLinksFiltered.index:
        postLinkCreationDate = postLinksFiltered['CreationDate'][j].replace("T", " ").split(".")[0]
        linkList.append(postId)
        titleList.append(posts['Title'][i])
        realtedPostID.append(postLinksFiltered['RelatedPostId'][j])
        postCreationList.append(posts['CreationDate'][i])
        linkCreationList.append(postLinksFiltered['CreationDate'][j])
        timeDiffList.append(getTimeDifference(postCreationDate, postLinkCreationDate))
df['PostId'] = linkList
df['Title'] = titleList
df['PostCreationDate'] = postCreationList
df['RelatedPostId'] = realtedPostID
df['LinkCreationDate'] = linkCreationList
df['diff'] = timeDiffList
print(df.head())

posts before:1000000
posts after:17345
     PostId                                              Title  \
0  48046391  Removing blank lines in csv output on Windows ...
1  48046565                       List sorted-Python card game
2  48046624  Convert a list returned by a map() function (f...
3  48046639             Coding an Ethernet bridge from scratch
4  48046639             Coding an Ethernet bridge from scratch

          PostCreationDate  RelatedPostId         LinkCreationDate  diff
0  2018-01-01T00:03:50.553       45908465  2018-01-01T00:03:50.553     0
1  2018-01-01T00:58:43.663         899103  2018-01-01T01:27:57.230    29
2  2018-01-01T01:19:44.580       19158339  2018-01-01T02:03:23.530    44
3  2018-01-01T01:24:22.047        9337545  2018-01-01T01:24:22.047     0
4  2018-01-01T01:24:22.047       12177708  2018-01-02T17:37:11.687  2413

In [4]:
from IPython.display import display

display(df)

,PostId,Title,PostCreationDate,RelatedPostId,LinkCreationDate,diff
0,48046391,Removing blank lines in csv output on Windows ...,2018-01-01T00:03:50.553,45908465,2018-01-01T00:03:50.553,0
1,48046565,List sorted-Python card game,2018-01-01T00:58:43.663,899103,2018-01-01T01:27:57.230,29
2,48046624,Convert a list returned by a map() function (f...,2018-01-01T01:19:44.580,19158339,2018-01-01T02:03:23.530,44
3,48046639,Coding an Ethernet bridge from scratch,2018-01-01T01:24:22.047,9337545,2018-01-01T01:24:22.047,0
4,48046639,Coding an Ethernet bridge from scratch,2018-01-01T01:24:22.047,12177708,2018-01-02T17:37:11.687,2413
...,...,...,...,...,...,...
6303,48532134,"Python code runs from IDE, but not from terminal",2018-01-30T23:28:21.447,448271,2018-01-31T16:56:00.467,1048
6304,48532134,"Python code runs from IDE, but not from terminal",2018-01-30T23:28:21.447,3402168,2018-01-31T16:56:00.467,1048
6305,48532248,Python console with a remote interpreter can't...,2018-01-30T23:43:20.693,18602442,2018-02-01T00:14:55.767,1472
6306,48532361,pandas: merge dataframes and include index as ...,2018-01-30T23:56:48.057,53645882,2018-12-07T10:26:18.707,447030
6307,48532361,pandas: merge dataframes and include index as ...,2018-01-30T23:56:48.057,53645882,2018-12-07T10:26:18.707,447030